@import url(./modern-normalize.css);

:root {
  --background-neutral: #faf9f6;
  --accent: #5f9ea0;
  --black: #222b2b;
  --shadow: #0000001a 0px 4px 8px;
  --p1-image: url("./img/eggplant.png");
  --p2-image: url("./img/peach.png");
}

body {
  height: 100vh;
  height: 100svh;

  background-color: var(--background-neutral);
  color: var(--black);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: 1rem;

  display: grid;
  grid-template-areas: "heading heading" "p1 p2" "display display" "board board";
  gap: 0.5rem;

  /* MOBILE */
  width: 100vw;
}

.heading,
.player,
.display {
  padding: 1rem;
}

.heading,
.player,
.display,
.cell {
  background-color: white;
}

.heading,
.player,
.display,
.board {
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.heading {
  grid-area: heading;

  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
}

.player .icon {
  width: 3rem;
}

.display {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.display span {
  flex: 1;
  font-style: italic;
}

.board {
  grid-area: board;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;

  background-color: var(--accent);
  overflow: hidden;

  /* MOBILE */
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
}

.display {
  grid-area: display;
}

.p1,
.p2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.p1 {
  background-image: var(--p1-image);
}

.p2 {
  background-image: var(--p2-image);
}

.btn {
  appearance: none;
  border: none;
  background-color: var(--accent);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}
